$skinn-palette: (
    black-russian: #090a0e, //text
    bourbon: #b97246, //text
    cloud-burst: #373f4c, //bg-header
    white-smoke: #f1f1f1,
    lavender: #e7e7e9, //bg-content
    lily-white: #eff1f0,
    karry: #ffdbc1,
    burning-sand: #be8165,
    solitude: #e3e4e6,
    revolver: #33333f,
    sandrift: #a88c81,
    blue-zodiac: #3d4255,
    mischka: #a3a4a6, 
    bright-grey: #525355, //footer hr
    quartz: #dddddf, 
);