@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import '_variables';
@import '_functions';
@import '_mixins';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

.bg-black-russian {
    background: color(cloud-burst);
}
.logo, .header-logo, .nav-links, .contact, .address, .white-logo {
    @include flex-center;
}
a {
    padding: 0 6px 0 5px;
    color: color(white-smoke);
}

h3, h5, p {
   color: color(black-russian);
}

h3 {
    text-align: center;
}
.guinot, .environ, .dermalogica, .info {
    text-align: center;
    padding: 5px 0 5px 0;
}

.guinot img, .environ img, .dermalogica img {
    padding: 10px 0 10px 0;
}
.bg-white-smoke {
    background: color(white-smoke)
}
.derma-info {
    color: color(black-russian);
    text-align: justify;
    padding: 12px;
    line-height: 1.5;
}
.bg-cloud-burst {
    background: color(lavender);
}
.address {
    color: color(bourbon);
}
.info {
    color: color(white-smoke);
    padding: 0 20px;
}
.contact {
    display: block;
    text-align: center;
}

//services.html
.heading {
    display: inline-flexbox;
    align-items: center;
}
.bg-lily-white {
    background-color: color(lily-white);
}
.square {
    height: 50px;
    width: 35px;
    background-color: color(blue-zodiac);
}
ul li {
list-style-type: square;
color: color(bourbon);
}
.footer-details-1 {
    color: color(bourbon);
    @include footer-details;
}
.footer-details-2 {
    color: color(bright-grey);
    @include footer-details;

    hr {
        border: 1px dotted color(mischka);
    }
}
.services {
    padding: 10px;
}
.bg-quartz-footer {
    background-color: color(quartz);
}

@media only screen and (min-width: 640px) {
    .footer-details-1, .footer-details-2 {
        display: inline-block; 
        text-align: center;
        padding: 10px;
    }
    .footer-details-1 {
        padding-left: 4em;
    }
    .logo-white,.services {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

//
@media only screen and (min-width: 1024px) {
    .nav-links{
        margin-top: 100px;
        font-size: 30px;
    }
    .header-logo {
        justify-content: flex-start;
    }

    .logo-white {
        display: inline-block;
    }
}
