    {{>header}}



    <div class="grid-x">
        <div class="large-12 cell">
            <hr>
            <h3>SKINN CARE</h3>
            <hr>
        </div>
    </div>



    {{>content}}



    {{>footer}}


