<div class="bg-lily-white">
    <div class="grid-x">
        <div class="large-6 cell">
            <div class="heading grid-x grid-padding-x">
                <div class="small-1 cell">
                    <div class="square"></div>
                </div>
                <div class="small-11 cell">
                    <hr>
                    <h3>BODY CARE</h3>
                    <hr>
                </div>
            </div>
            <div class="grid-padding-x">
                <div class="large-6 cell">
                    <ul>
                        <li><h5>SWEDISH MASSAGE</h5></li>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                    </ul>
                    <ul>
                        <li><h5>AROMATHERAPY</h5></li>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                    </ul>
                </div>

                <div class="large-6 cell">
                    <ul>
                        <li><h5>HOT STONE MASSAGE</h5></li>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                    </ul>
                    <ul>
                        <li><h5>BODY BRUSHING</h5></li>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                        <div>
                            <p>Back, Neck & Shoulders</p>
                            <p class="details">30 MINUTES | R250</p>
                        </div>
                    </ul>
                </div>
            </div>
            
            <div class="heading grid-x grid-padding-x">
                <div class="small-1 cell">
                    <div class="square"></div>
                </div>
                <div class="small-11 cell">
                    <hr>
                    <h3>BODY ESSENTIALS FEMALE</h3>
                    <hr>
                </div>
            </div>
            <div class="grid-padding-x">
                <div class="large-6 cell">
                    <ul>
                        <li><h5>WAXING</h5></li>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                    </ul>
                </div>
                <div class="large-6 cell">
                    <ul>
                        <li><h5>WAXING Continued</h5></li>
                        <div>
                            <p>Brow Wax</p>
                            <p class="details">20 MINUTES | R75</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                    </ul>
                </div>
            </div>        
        </div>

        <div class="large-6 cell">
            <div class="heading grid-x grid-padding-x">
                <div class="small-1 cell">
                    <div class="square"></div>
                </div>
                <div class="small-11 cell">
                    <hr>
                    <h3>BODY ESSENTIALS MALE</h3>
                    <hr>
                </div>
            </div>
            <div class="grid-padding-x">
                <div class="large-6 cell">
                    <ul>
                        <li><h5>WAXING</h5></li>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                    </ul>
                </div>
                <div class="large-6 cell">
                    <ul>
                        <li><h5>WAXING Continued</h5></li>
                        <div>
                            <p>Brow Wax</p>
                            <p class="details">20 MINUTES | R75</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                        <div>
                            <p>Full Leg Wax</p>
                            <p class="details">40 MINUTES | R220</p>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="heading grid-x grid-padding-x">
                <div class="small-1 cell">
                    <div class="square"></div>
                </div>
                <div class="small-11 cell">
                    <hr>
                    <h3>HANDS & FEET</h3>
                    <hr>
                </div>
            </div>
            <div class="grid-padding-x">
                <div class="large-6 cell">
                    <ul>
                        <li><h5>MINI MANICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R170</p>
                        </div>
                        <li><h5>MINI PEDICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R180</p>
                        </div>
                        <li><h5>MINI MANICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R170</p>
                        </div>
                        <li><h5>MINI MANICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R170</p>
                        </div>
                    </ul>
                </div>
                <div class="large-6 cell">
                    <ul>
                        <li><h5>MINI MANICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R170</p>
                        </div>
                        <li><h5>MINI PEDICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R180</p>
                        </div>
                        <li><h5>MINI MANICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R170</p>
                        </div>
                        <li><h5>MINI MANICURE</h5></li>
                        <div>
                            <p class="details">30 MINUTES | R170</p>
                        </div>
                    </ul>
            </div>
        </div>

    </div>
</div>



            