<div class="bg-white-smoke">
    <div class="grid-x grid-padding-x">

        <div class="large-6 cell">
            <div class="skinn">
                <div>
                    <img src="{{root}}assets/img/SKINN_Service.jpg" alt="aside">
                </div>
            </div>

            <div class="environ">
                <div>
                    <img src="{{root}}assets/img/environ.jpg" alt="content2">
                </div>
                <div>
                    <h5>ENVIRON DF MACHINE FACIALS</h5>
                    <p>Maximises enhanced penetration</p>
                </div>
                <div>
                    <h5>PRECISION VITAMIN THERAPY</h5>
                    <p>30 MINUTES | R280</p>
                </div>
                <div>
                    <h5>PRECISION VITAMIN THERAPY</h5>
                    <p>30 MINUTES | R280</p>
                </div>
                <div>
                    <h5>PRECISION VITAMIN THERAPY</h5>
                    <p>30 MINUTES | R280</p>
                </div>
            </div>
        </div>
        
        <div class="large-6 cell align-center">
            <div class="guinot">
                <div>
                    <img src="{{root}}assets/img/guinot.jpg" alt="content1">
                </div>
                <div>
                    <h5>GUINOT AGE SUMMUM</h5>
                    <p>60 MINUTES | R1,000</p>
                </div>
                <div>
                    <h5>GUINOT AGE SUMMUM</h5>
                    <p>60 MINUTES | R1,000</p>
                </div>
                <div>
                    <h5>GUINOT AGE SUMMUM</h5>
                    <p>60 MINUTES | R1,000</p>
                </div>
                <div>
                    <h5>GUINOT AGE SUMMUM</h5>
                    <p>60 MINUTES | R1,000</p>
                </div>
                <div>                    <h5>GUINOT AGE SUMMUM</h5>
                    <p>60 MINUTES | R1,000</p>
                </div>
                <div>
                    <h5>GUINOT AGE SUMMUM</h5>
                    <p>60 MINUTES | R1,000</p>
                </div>
            </div>
            
            <div class="bg-cloud-burst">
                <div class="dermalogica">
                    <div>
                        <img src="{{root}}assets/img/dermalogica.jpg" alt="content1">
                    </div>
                    <div>
                        <h5>DERMALOGICA FACE MAPPING</h5>
                        <p>15 MINUTES | FREE</p>
                    </div>
                    <div>
                        <h5>DERMALOGICA PROSKIN 30</h5>
                        <p>30 MINUTES | R315</p>
                    </div>
                    <div>
                        <h5>DERMALOGICA PROSKIN 60</h5>
                        <p>60 MINUTES | R625</p>
                    </div>
                    <div class="derma-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quos ipsa dignissimos fuga earum hic, saepe aspernatur facere nemo, ratione magnam a rerum deleniti asperiores, nesciunt commodi doloribus est culpa?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nemo, perspiciatis necessitatibus quis maiores ipsum voluptatum quas nihil tempore fugit.
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>