<div class="bg-quartz-footer">
    <div class="grid-x align-center">
        <div class="medium-12 large-6 cell">
            <img src="{{root}}assets/img/services.jpg" alt="logo" class="services">
        </div>

        <div class="medium-12 large-6 cell">
            <div class="footer-details-1">
                We can offer tailor made solutions for your special day. Enquire Now!
                <div>PACKAGES MAY INCLUDE</div>
                <div>Bridal Hair & make-Up, Bridesmaid & Mother's Hair & Make-Up,</div>
                <div>Flower Girls Hair & Make-Up + Grooms Hair Cut & Style</div>
            </div>
            <div class="footer-details-2">
                <hr>
                <p>*Additional fees may apply for on-site make-up applications that will include travel and time.</p>
            </div>
        </div>
    </div>

    <div class="grid-x align-center">
        <div class="small-12">
            <div class="white-logo">
                <div>
                    <img src="{{root}}assets/img/logo-white.jpg" alt="logo">
                </div>
            </div>
        </div>
    </div>            
</div>