<div class="bg-black-russian footer">
    <div class="grid-x align-center">
        <div class="small-12">
            <div class="logo">
                <div>
                    <img src="{{root}}assets/img/logo.jpg" alt="logo">
                </div>
            </div>
            <div class="info">
                <hr>
                BOOK NOW | 021 553 5219
                <hr>
            </div>
            <div class="contact">
                <a href="#">info@skinnbeauty.co.za | </a>
                <a href="#">www.SkinnBeauty.co.za</a>
            </div>
            <div class="address">
                Shop 30, Birkenhead, Melkbosstrand            </div>
        </div>
    

    </div>
</div>