<div class="bg-black-russian">
    <div class="grid-x">
        <div class="large-8 cell">
            <div class="header-logo">
                <div>
                    <img src="{{root}}assets/img/logo.jpg" alt="logo">
                </div>
            </div>
        </div>
        <div class="large-4 cell">
            <div class="nav-links">
                <a href="#">Home<a>
                <a href="#">Services<a>
            </div>
        </div>
    </div>
</div>